<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, height=device-height initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ asset('assets/favicon.png') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/leaflet/leaflet.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <link rel="stylesheet" href="{{ asset('assets/leaflet/leaflet.extra-markers.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/fontawesome/css/all.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
<header class="fixed-top">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="d-inline">
                <a href="#" class="navbar-brand">
                    <i class="fa fa-globe"></i> <strong>Gazetteer</strong>
                </a>
            </div>
            <div class="d-inline-flex">
                <!-- coutries select list -->
                <select class="form-select" id="countriesList"></select>
                <!-- info buttons -->
                <button class="navbar-toggler mx-2" type="button" data-bs-toggle="modal" data-bs-target="#countryInfo">
                    <i class="fa fa-info-circle" title="Country Info"></i>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#weatherInfo">
                    <i class="fa fa-cloud-sun" title="Weather"></i>
                </button>
                <button class="navbar-toggler mx-2" type="button" data-bs-toggle="modal" data-bs-target="#newsInfo">
                    <i class="fa fa-newspaper" title="News"></i>
                </button>
                <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#covidInfo">
                    <i class="fa fa-viruses" title="Covid statistics"></i>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- country info -->
<div class="modal fade" id="countryInfo" tabindex="-1" aria-labelledby="countryInfoLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="countryInfoLabel">Country Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Continent:</div>
                            <div class="col-8"><span id="infoContinent">...</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Country:</div>
                            <div class="col-8"><span id="infoCountry">...</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Capital:</div>
                            <div class="col-8"><span id="infoCapital">...</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Flag:</div>
                            <div class="col-8"><span id="infoFlag">...</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Currency:</div>
                            <div class="col-8"><span id="infoCurrency">...</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Exchange rate:</div>
                            <div class="col-8"><span id="infoExRate">...</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Area:</div>
                            <div class="col-8"><span id="infoArea">...</span><sup>km2</sup></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-4 text-end fw-bold">Population:</div>
                            <div class="col-8"><span id="infoPopulation">...</span></div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-header">
                <h5 class="modal-title">Country Description</h5>
                <hr>
            </div>
            <div class="modal-body" id="wikiDescription">
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- weather info -->
<div class="modal fade" id="weatherInfo" tabindex="-1" aria-labelledby="weatherInfoLabel" aria-hidden="true">
    <div class=" modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="weatherInfoLabel">Current weather</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h6 class="text-danger" id="currentTime"></h6>
                    <h5 class="fw-bold" id="currentLocation"></h5>
                    <h4><span id="currentTemp"></span>°C</h4>
                    <div class="fw-bold mb-2 fs-6">
                        Feels like <span id="currentFeelsLike"></span>°C.
                        <span id="currentMain"></span>.
                        <span id="currentDescription"></span>.
                    </div>
                    <div id="currentWeather">
                        <div class="row border-start border-danger ms-2">
                            <div class="row">
                                <div id="currentWind" class="col-3"></div>
                                <div id="currentPressure" class="col-5"></div>
                                <div id="currentHumidity" class="col-4"></div>
                            </div>
                            <div class="row">
                                <div id="currentUvi" class="col-3"></div>
                                <div id="currentDP" class="col-5"></div>
                                <div id="currentVisibility" class="col-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="weatherInfoLabel">8-day forecast</h5>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush" id="weatherForecast"></ul>
            </div>
        </div>
        <div class="modal-footer"></div>
    </div>
</div>

<!-- news -->
<div class="modal fade" id="newsInfo" tabindex="-1" aria-labelledby="newsInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newsInfoLabel">Latest news</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="newsCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div id="newsContent" class="carousel-inner"></div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#newsCaptions"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#newsCaptions"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- covid statistics -->
<div class="modal fade" id="covidInfo" tabindex="-1" aria-labelledby="covidInfoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="covidInfoLabel">Covid statistics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Cases:</div>
                            <div id="covidCases" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Today Cases:</div>
                            <div id="covidTodayCases" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Deaths:</div>
                            <div id="covidDeaths" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Today Deaths:</div>
                            <div id="covidTodayDeaths" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Recovered:</div>
                            <div id="covidRecovered" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Today Recovered:</div>
                            <div id="covidTodayRecovered" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Active:</div>
                            <div id="covidActive" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Critical:</div>
                            <div id="covidCritical" class="col-7"></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-5 text-end"> Tests:</div>
                            <div id="covidTests" class="col-7"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% block body %}{% endblock %}
<script src="{{ asset('assets/jquery/jquery.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="{{ asset('assets/bootstrap/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/fontawesome/js/all.js') }}"></script>
<script src="{{ asset('assets/leaflet/leaflet.js') }}"></script>
<script src="{{ asset('assets/leaflet/ leaflet.extra-markers.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script type="application/javascript" src="{{ asset('assets/js/script.js') }}"></script>
</body>
</html>